openapi: 3.0.0
info:
  description: Use this REST API to manage your DataStax Astra DB organizations and perform lifecycle actions for your Astra DB databases.</br> </br> To get started, use the /v2/clientIdSecrets endpoints to create a token to authenticate your API calls.
  version: 2.3.0
  title: Astra DevOps Access List API
  contact:
    email: ad-astra@datastax.com
servers:
- url: https://api.astra.datastax.com/
security:
- BearerAuth:
  - org-admin
  - org-db-create
  - org-db-terminate
  - org-db-view
  - org-db-expand
  - org-db-suspend
  - org-db-addpeering
  - org-db-readpeering
  - db-keyspace-create
  - db-cql
  - accesslist-write
  - accesslist-read
  - db-manage-privateendpoint
  - db-manage-telemetry
  - db-manage-backupconfiguration
tags:
- name: DevOps Access List
  description: View, create, modify, or delete the access list that restricts access to the DevOps API for an Astra organization.
paths:
  /v2/organizations/{orgId}/devops-acl:
    get:
      tags:
      - DevOps Access List
      summary: Get DevOps API Access List
      description: Retrieves a DevOps API Access List for a specific organization by ID.
      parameters:
      - in: path
        name: orgId
        required: true
        schema:
          type: string
        description: The ID of the Astra DB organization.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevOpsAccessListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
      - DevOps Access List
      summary: Create DevOps API Access List
      description: Creates a new DevOps API Access List for a specific organization by ID.
      parameters:
      - in: path
        name: orgId
        required: true
        schema:
          type: string
        description: The ID of the Astra DB organization.
      requestBody:
        description: request to create a new access list for the DevOps API
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DevOpsIpAddress'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevOpsAccessListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
      - DevOps Access List
      summary: Replace DevOps API Access List
      description: Replaces an existing DevOps API Access List with a new one for a specific Astra DB organization by ID.
      parameters:
      - in: path
        name: orgId
        required: true
        schema:
          type: string
        description: The ID of the Astra DB organization.
      requestBody:
        description: request to replace an existing access list for the DevOps API with the submitted one
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DevOpsIpAddress'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevOpsAccessListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
    patch:
      tags:
      - DevOps Access List
      summary: Update DevOps API Access List
      description: Updates an existing DevOps API Access List for a specific Astra DB organization by ID.
      parameters:
      - in: path
        name: orgId
        required: true
        schema:
          type: string
        description: The ID of the Astra DB organization.
      requestBody:
        description: request to add an IP address to an existing DevOps API Access List
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevOpsIpAddress'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevOpsAccessListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
      - DevOps Access List
      summary: Remove entire DevOps API Access List from an Astra DB organization.
      description: Removes an entire DevOps API Access List for a specific organization by ID. This will disable the DevOps API Access List feature for the specified organization.
      parameters:
      - in: path
        name: orgId
        required: true
        schema:
          type: string
        description: The ID of the Astra DB organization.
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    DevOpsIpAddress:
      description: Request to create an access list with a list of IP addresses.
      type: object
      properties:
        address:
          type: string
          description: Address of the CIDR or IP.
        description:
          type: string
          description: Description of what this address is for.
        enabled:
          type: boolean
          description: Flag stating whether this address is in use.
    DevOpsAccessListResponse:
      description: Response to get call
      type: object
      properties:
        addresses:
          type: array
          description: A list of allowed addresses that can make DevOps API calls.
          items:
            $ref: '#/components/schemas/DevOpsAclAddress'
    Error:
      description: ModelError information that is returned to users
      type: object
      required:
      - id
      - message
      properties:
        ID:
          type: integer
          example: 123
          description: API specific error code
        message:
          type: string
          example: Something is broken
          description: User-friendly description of error
    DevOpsAclAddress:
      description: Represents the CIDR or IP that Astra DB stores to keep track of the access list for the DevOps API.
      type: object
      properties:
        address:
          type: string
          description: Address of the CIDR or IP.
        description:
          type: string
          description: Description of what this address is for.
        enabled:
          type: boolean
          description: Flag stating whether this address is in use.
        lastUpdateDateTime:
          type: string
          description: Timestamp of when this object was last updated.
        createdAt:
          type: string
          description: Timestamp of when this object was created.
    Errors:
      description: Errors is a collection of individual Error objects
      type: object
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
  responses:
    Forbidden:
      description: The user is forbidden to perform the operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    Unauthorized:
      description: The user is unauthorized to perform the operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    ServerError:
      description: A server error occurred
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    NotFound:
      description: The specified database was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    Conflict:
      description: The database is not in a valid state to perform the operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
  securitySchemes:
    BearerAuth:
      description: An application token must be passed in header in order to access the API. https://docs.datastax.com/en/astra-db-serverless/administration/manage-application-tokens.html
      type: http
      scheme: bearer
